<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./styles/style.css" />
  <script src="./scripts/script.js" defer></script>
  <title>Placeholder</title>
 </head>
 <body>
  <div class="header">
    <img src="./assets/watermark1.png" class="watermark">
    <img src="./assets/watermark2.png" class="watermark">
    <img src="./assets/watermark3.png" class="watermark">
    <img src="./assets/watermark4.png" class="watermark">

    <div class="headerContainer">
      <h1>Placeholder</h1>
      <p>Free Fake REST API made for Front-end developer for testing</p>
      <a href="https://github.com/haydher/dev-api" target="_blank"><button class="cta">Github <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.4872 17V14.0552C12.518 13.6923 12.4651 13.3276 12.3321 12.9852C12.1991 12.6427 11.9891 12.3305 11.7159 12.0691C14.2923 11.8028 17 10.8973 17 6.74261C16.9998 5.68022 16.5591 4.65856 15.7692 3.88911C16.1433 2.95963 16.1168 1.93225 15.6954 1.02039C15.6954 1.02039 14.7272 0.754061 12.4872 2.14657C10.6066 1.67389 8.6242 1.67389 6.74359 2.14657C4.50359 0.754061 3.53538 1.02039 3.53538 1.02039C3.11395 1.93225 3.0875 2.95963 3.46154 3.88911C2.66575 4.66427 2.22463 5.69516 2.23077 6.76544C2.23077 10.8897 4.93846 11.7952 7.51487 12.092C7.24492 12.3507 7.03673 12.6592 6.90384 12.9974C6.77096 13.3357 6.71636 13.6961 6.74359 14.0552V17M6.74359 14.7172C2.64103 15.8586 2.64103 12.8149 1 12.4344L6.74359 14.7172Z" stroke="#1B1B1B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        </button></a>
    </div>
  </div>

  <div class="carousel">
    <div class="card ">
    <div class="cardHeader">
     <div class="headerCode">
      <p class="description"></p>
      <p class="code"></p>
     </div>

     <div class="copyCode">
      <div class="svgContainer">
       <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 4.16667H18C18.5304 4.16667 19.0391 4.38616 19.4142 4.77686C19.7893 5.16756 20 5.69747 20 6.25V20.8333C20 21.3859 19.7893 21.9158 19.4142 22.3065C19.0391 22.6972 18.5304 22.9167 18 22.9167H6C5.46957 22.9167 4.96086 22.6972 4.58579 22.3065C4.21071 21.9158 4 21.3859 4 20.8333V6.25C4 5.69747 4.21071 5.16756 4.58579 4.77686C4.96086 4.38616 5.46957 4.16667 6 4.16667H8" stroke="#F9F9F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M15 2.08333H9C8.44772 2.08333 8 2.5497 8 3.125V5.20833C8 5.78363 8.44772 6.25 9 6.25H15C15.5523 6.25 16 5.78363 16 5.20833V3.125C16 2.5497 15.5523 2.08333 15 2.08333Z" stroke="#F9F9F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
     </div>

    </div>
    <div class="fetchOutput" id="posts"></div>
   </div>

   <div class="card">
    <div class="cardHeader">
     <div class="headerCode">
      <p class="description"></p>
      <p class="code"></p>
     </div>
     <div class="copyCode">
      <div class="svgContainer">
       <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 4.16667H18C18.5304 4.16667 19.0391 4.38616 19.4142 4.77686C19.7893 5.16756 20 5.69747 20 6.25V20.8333C20 21.3859 19.7893 21.9158 19.4142 22.3065C19.0391 22.6972 18.5304 22.9167 18 22.9167H6C5.46957 22.9167 4.96086 22.6972 4.58579 22.3065C4.21071 21.9158 4 21.3859 4 20.8333V6.25C4 5.69747 4.21071 5.16756 4.58579 4.77686C4.96086 4.38616 5.46957 4.16667 6 4.16667H8" stroke="#F9F9F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M15 2.08333H9C8.44772 2.08333 8 2.5497 8 3.125V5.20833C8 5.78363 8.44772 6.25 9 6.25H15C15.5523 6.25 16 5.78363 16 5.20833V3.125C16 2.5497 15.5523 2.08333 15 2.08333Z" stroke="#F9F9F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
       
     </div>
    </div>
    <div class="fetchOutput" id="users"></div>
   </div>

   <div class="card">
    <div class="cardHeader">
     <div class="headerCode">
      <p class="description"></p>
      <p class="code"></p>
     </div>
     <div class="copyCode">
      <div class="svgContainer">
       <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 4.16667H18C18.5304 4.16667 19.0391 4.38616 19.4142 4.77686C19.7893 5.16756 20 5.69747 20 6.25V20.8333C20 21.3859 19.7893 21.9158 19.4142 22.3065C19.0391 22.6972 18.5304 22.9167 18 22.9167H6C5.46957 22.9167 4.96086 22.6972 4.58579 22.3065C4.21071 21.9158 4 21.3859 4 20.8333V6.25C4 5.69747 4.21071 5.16756 4.58579 4.77686C4.96086 4.38616 5.46957 4.16667 6 4.16667H8" stroke="#F9F9F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M15 2.08333H9C8.44772 2.08333 8 2.5497 8 3.125V5.20833C8 5.78363 8.44772 6.25 9 6.25H15C15.5523 6.25 16 5.78363 16 5.20833V3.125C16 2.5497 15.5523 2.08333 15 2.08333Z" stroke="#F9F9F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
       
     </div>
    </div>
    <div class="fetchOutput" id="todos"></div>
   </div> 
   <div class="sliderBtn leftSlider">
    <span>&#8592</span>
   </div>
   <div class="sliderBtn rightSlider">
    <span>&#x2192</span>
   </div>
  </div>

  <div class="endPoints">
    <h1>End points</h1>
    <h2><a href="/posts" target="_blank">/posts</a></h2>
    <p>Get one randomly generated JSON data of a post. 
      Change how many posts you want in return by adding 
      “/” and your number. For example, “/posts/5”
       to get an array of 5 posts. Max number is 50.
      <br>
      <br>
      Posts can also return an array of comments if query is provided. 
      You can request comments by add “?comments=X” to get the X 
      number of comments. Max number is 20.
    </p>
    <h2><a href="/comments" target="_blank">/comments</a></h2>
    <p>Get one randomly generated JSON data of a comments. 
      Change how many comments you want in return by adding 
      <i>“/”</i> and your number. For example, “/comments/5”
       to get an array of 5 comments. Max number is 50.
    </p>
    <h2><a href="/users" target="_blank">/users</a></h2>
    <p>Get one randomly generated JSON data of a user. Change how many 
      posts you want in return by adding “/” and your number. For example, 
      “/users/5” to get an array of 5 users. Max number is 50.
      <br>
      <br>
      Users also include an object of address. The addresses are not related to the user and its randomly generated.
    </p>
    <h2><a href="/todos" target="_blank">/todos</a></h2>
    <p>Get one randomly generated JSON data of a post. Change how many 
      todos you want in return by adding “/” and your number. For example, 
      “/todos/5” to get an array of 5 todos. Max number is 50.
    </p>
  </div>

  <footer>
    Made with Love &#9825; by
    <a href="http://haydher.com/" target="_blank">
     Haydher
    </a>
  </footer>
 </body>
</html>

